1. Write a python program to convert temperature in Fahrenheit

In [1]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 1.8) + 32
print(celsius,"degree Celsius is equal to",fahrenheit,"degree Fahrenheit.")

Enter temperature in celsius: 36.5
36.5 degree Celsius is equal to 97.7 degree Fahrenheit.

2. Write a program in python find the area of a triangle.

In [2]:
base=float(input("Enter base of triangle:"))
height=float(input("Enter height of triangle:"))
print("The area of the trianlge is",(base*height)/2)

Enter base of triangle:12.5
Enter height of triangle:4
The area of the trianlge is 25.0

3. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [3]:
name=input("Enter your name:")
rolnum=int(input("Enter your roll number:"))
mark=float(input("Enter your mark:"))
print("Name:",name)
print("Roll number:",rolnum)
print("Mark",mark)

Enter your name:Rakhi
Enter your roll number:1
Enter your mark:100
Name: Rakhi
Roll number: 1
Mark 100.0

4. Write a Python program to get the largest number from a list.

In [4]:
list1 = [12, 3, 47, 10]
print(max(list1),"is the largest number.")

47 is the largest number.

5. Write a python program to find the average of 5 numbers

In [5]:
a=float(input("Enter first number: "))
b=float(input("Enter second number: "))
c=float(input("Enter third number: "))
d=float(input("Enter fourth number: "))
e=float(input("Enter fifth number: "))
avearge= print("The average of the given numbers is",(a+b+c+d+e)/5)

Enter first number: 12
Enter second number: 1
Enter third number: 4
Enter fourth number: 98
Enter fifth number: 100
The average of the given numbers is 43.0

6. Python program to insert a number to any position in a list

In [6]:
list2=[12,11,19,4,0]
position=int(input("Enter the position: "))
num= int(input("Enter the number to be inserted: "))
list2.insert(position,num)
print("The new list is",list2)

Enter the position: 0
Enter the number to be inserted: 23
The new list is [23, 12, 11, 19, 4, 0]

7. Write a program to rename a key city to a location in the following dictionary.

sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [7]:
sample_dict={ "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict['location'] = sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

8. Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

sample_dict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [8]:
sample_dict_2 = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict_2['emp3']['salary'] = 8500
sample_dict_2

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

tuple1 = (11, 22, 33, 44, 55, 66)

In [12]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple_new = tuple1[3:5]
tuple_new

(44, 55)

10. Counts the number of occurrences of item 50 from the folllowing tuple.

tuple1 = (50, 10, 60, 70,50,83,567,50,81)

In [11]:
tuple2 = (50, 10, 60, 70, 50,83,567,50,81)
frequency=tuple2.count(50)
frequency

3